 .group-icon {
      width: 96px;
      height: 96px;
    }
    .user-photo {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }

    #bnt-invite{
      margin-left: 4px;
      margin-right: 4px;
    }