<ng-container *ngIf="group">
  <div class="container my-4">
    <!-- Información del grupo -->
    <div class="card mb-4">
      <div class="card-body d-flex align-items-center">
        <img src="https://img.icons8.com/color/96/code.png" alt="Icono del grupo" class="group-icon me-3" />
        <div>
          <h3 class="card-title mb-1">{{group.title}}</h3>
          <p class="card-text text-muted mb-1">{{group.description}}</p>
          <span class="badge bg-success" *ngIf="group.visibility == 'PUBLIC'">Public</span>
          <span class="badge bg-danger" *ngIf="group.visibility == 'PRIVATE'">Private</span>
        </div>
      </div>
    </div>

    <!-- Usuarios del grupo -->
    <div class="mb-5">
      <h4>Miembros del grupo</h4>
      <div class="row text-center">
        <div class="col-12">
          <div class="mb-3" *ngIf="members != null && members.length > 0">
            <input type="text" class="form-control" placeholder="Search members..." [(ngModel)]="filterTermMembers" />
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col" *ngFor="let user of filteredMembers">
          <div class="card h-100 p-3 d-flex flex-row align-items-center">
            <img src="{{user.photo}}" alt="{{user.name}}" class="user-photo me-3" />
            <div>
              <h6 class="mb-0">{{user.name}}</h6>
              <small class="text-muted"> {{ isAdmin(user.id) ? 'Admin' : 'Miembro' }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Eventos del grupo -->
    <div>
      <h4>Eventos del grupo</h4>

      <app-event-list [groupId]="groupId"></app-event-list>
    </div>
  </div>
</ng-container>