
<div *ngIf="errores" class="alert alert-primary" role="alert">{{errores}}</div>

<div class="profile-container">
    <div class="profile-img">
        <img *ngIf="currentMember && currentMember.photo != null && currentMember.photo != ''" [src]="currentMember.photo" alt="Foto de perfil" width="20px" height="20px">
        <img *ngIf="currentMember && currentMember.photo != null && currentMember.photo == ''" src="profile.png" alt="Foto de perfil" width="20px" height="20px">

    </div>

    <form [formGroup]="profileForm" >
        <label for="nombre">Nombre</label>
        <input [disabled]="!isEdit" formControlName="name" type="text" id="nombre" name="nombre" >

        <label for="apellido">Apellido</label>
        <input [disabled]="!isEdit" type="text" formControlName="surname" id="apellido" name="apellido" >

        <label for="email">Correo electrónico</label>
        <input [disabled]="!isEdit" type="email" formControlName="email" id="email" name="email" >

        <label for="telefono">Número de teléfono</label>
        <input [disabled]="!isEdit" type="tel" formControlName="phone" id="telefono" name="telefono">

        <label for="fecha-nacimiento">Fecha de nacimiento</label>
        <input [disabled]="!isEdit" type="date" formControlName="birthdate"  id="fecha-nacimiento" name="fecha-nacimiento">

        
        <label for="dni">DNI</label>
        <input [disabled]="!isEdit" formControlName="dni" type="text" id="dni" name="dni">

        
        <button type="submit" *ngIf="isEdit" (click)="guardarCambios()">Guardar cambios</button>
        <button type="submit"  (click)="toggleEditMode()" *ngIf="!isEdit">Editar Datos</button>
        <button type="submit"  (click)="toggleEditMode()" *ngIf="isEdit">Cancelar edición</button>

    </form>
</div>
