<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Name</label>
                <input formControlName="name" type="text" id="nombre" name="nombre" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('name')?.valid && this.registerForm.get('name')?.touched,'is-invalid':this.registerForm.get('name')?.invalid && this.registerForm.get('name')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a name.</small>
                </div>
              </div>

              <div class="mb-3">
                <label for="apellido" class="form-label">Surname</label>
                <input type="text" formControlName="surname" id="apellido" name="apellido" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('surname')?.valid && this.registerForm.get('surname')?.touched,'is-invalid':this.registerForm.get('surname')?.invalid && this.registerForm.get('surname')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a surname.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" formControlName="username" id="username" name="username"  class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('username')?.valid && this.registerForm.get('username')?.touched,'is-invalid':this.registerForm.get('username')?.invalid && this.registerForm.get('username')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a username.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" id="email" name="email" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('email')?.valid && this.registerForm.get('email')?.touched,'is-invalid':this.registerForm.get('email')?.invalid && this.registerForm.get('email')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a email.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label">Phone</label>
                <input type="tel" formControlName="phone" id="telefono" name="telefono" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('phone')?.valid && this.registerForm.get('phone')?.touched,'is-invalid':this.registerForm.get('phone')?.invalid && this.registerForm.get('phone')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a phone.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="fecha-nacimiento" class="form-label">Birthdate</label>
                <input type="date" formControlName="birthdate" id="fecha-nacimiento" name="fecha-nacimiento" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('birthdate')?.valid && this.registerForm.get('birthdate')?.touched,'is-invalid':this.registerForm.get('birthdate')?.invalid && this.registerForm.get('birthdate')?.touched}">

                <div class="invalid-feedback">
                  <small>You must provide a birthdate.</small>
                  <small *ngIf="registerForm.get('birthdate')?.hasError('startDateInPast')">The birthday cannot be
                    earlier than today's date.</small>
                  <small *ngIf="registerForm.get('birthdate')?.hasError('tooYoung')"> You must be at least 12 years
                    old.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input formControlName="dni" type="text" id="dni" name="dni" required class="form-control"
                  [ngClass]="{'is-valid': this.registerForm.get('dni')?.valid && this.registerForm.get('dni')?.touched,'is-invalid':this.registerForm.get('dni')?.invalid && this.registerForm.get('dni')?.touched}">
                <div class="invalid-feedback">
                  <small>You must provide a dni.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" formControlName="password" id="password" name="password" class="form-control" required
                  [ngClass]="{'is-valid': this.registerForm.get('password')?.valid && this.registerForm.get('password')?.touched,'is-invalid':this.registerForm.get('password')?.invalid && this.registerForm.get('password')?.touched}">
                <div class="invalid-feedback">
                  <small>You must enter a password of at least 5 characters.</small>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Singin!</button>

            </form>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>