<div class="row text-center" id="eventsButtons">
  <div class="col-12">
    <button type="button" class="btn btn-info btn-list-group" *ngIf="view =='GROUP' && isAuthMemberAdminOfGroup()"
      routerLink="/editevent/{{groupId}}//-1"><i class="bi bi-plus-circle"></i> New event</button>
  </div>
</div>
<div class="row text-center">
  <div class="col-12">
    <div class="mb-3" *ngIf="events != null && events.length > 0">
      <input type="text" class="form-control" placeholder="Search events..." [(ngModel)]="filterTerm" />
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div *ngIf="filteredEvents == null || filteredEvents.length == 0" class="text-center text-muted my-4">
    <p class="fs-5">There are no events.</p>
  </div>



  <div class="col" *ngFor="let event of filteredEvents">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{event.title}}</h5>
        <p class="card-text">{{event.description}}</p>
        <ul class="list-unstyled">
          <li><strong>Start date:</strong> {{event.startDateAndTime | date:'dd/MM/yyyy, HH:mm' }}</li>
          <li><strong>End date:</strong> {{event.endDateAndTime | date:'dd/MM/yyyy, HH:mm' }}</li>
          <li><strong>Maximum number of participants:</strong> {{event.maxParticipants}}</li>
          <li [ngClass]="{ 'maxParticipants': numberOfParticipants(event.id) === event.maxParticipants }">
            <strong>Participants:</strong> {{numberOfParticipants(event.id)}}/{{event.maxParticipants}}</li>
         

          <li><strong>Address:</strong> {{event.fullAddress }}</li>
        </ul>
        <span class="badge" [ngClass]="getStatusClass(event.computedStatus)">
          {{ event.computedStatus | titlecase }}
        </span>
      </div>
      <div class="card-footer" *ngIf="view =='GROUP' || view =='MYEVENTS'">
        <button type="button" class="btn btn-success btns-footer" *ngIf="groupId==null"
          [routerLink]="['/viewgroup', event.groupId]">
          Show group
        </button>
        <button type="button" class="btn btn-secondary btns-footer" *ngIf="isAuthMemberAdminOfGroup()"
          [routerLink]="['/editevent', groupId, event.id]">
          Edit
        </button>

        <button type="button" class="btn btn-secondary btns-footer" *ngIf="groupId==null && isAuthMemberAdmin(event)"
          [routerLink]="['/editevent', event.groupId, event.id]">
          Edit
        </button>
        <button type="button" class="btn btn-primary btns-footer"
          *ngIf="!isJoined(event.id) && !isComplete(event) && event.computedStatus != 'FINISHED'" (click)="joinEvent(event.id)">
          Join
        </button>
        <button type="button" class="btn btn-danger btns-footer"
          *ngIf="isJoined(event.id) && event.computedStatus == 'SCHEDULED'" (click)="leaveEvent(event.id)">
          Leave
        </button>
      </div>
      <div class="card-footer" *ngIf="view =='SHOWPROFILE'">
        <button type="button" class="btn btn-success btns-footer"
          [routerLink]="['/viewgroup', event.groupId]">
          Show group
        </button>
      </div>
    </div>
  </div>
</div>