  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1055;">
    <div class="toast align-items-center text-white bg-{{ toastType }} border-0 show" role="alert" *ngIf="toastMessage"
      (click)="closeToast()">
      <div class="d-flex">
        <div class="toast-body">
          {{ toastMessage }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="closeToast()"
          aria-label="Close"></button>
      </div>
    </div>
  </div>
<div class="profile-container">
    <div class="profile-img">
        <img *ngIf="currentMember && currentMember.photo != null && currentMember.photo != ''"
            [src]="currentMember.photo" alt="Foto de perfil" width="20px" height="20px">
        <img *ngIf="currentMember && currentMember.photo != null && currentMember.photo == ''" src="profile.png"
            alt="Foto de perfil" width="20px" height="20px">
    </div>

    <form [formGroup]="profileForm">
        <div class="mb-3">
            <label for="nombre">Name</label>
            <input formControlName="name" type="text" id="nombre" name="nombre"
                required [ngClass]="{'is-valid': this.profileForm.get('name')?.valid && this.profileForm.get('name')?.touched,'is-invalid':this.profileForm.get('name')?.invalid && this.profileForm.get('name')?.touched}">
            <div class="invalid-feedback">
                <small>You must provide a name.</small>
            </div>
        </div>

        <div class="mb-3">
            <label for="apellido">Surname</label>
            <input type="text" formControlName="surname" id="apellido" name="apellido"
                required [ngClass]="{'is-valid': this.profileForm.get('surname')?.valid && this.profileForm.get('surname')?.touched,'is-invalid':this.profileForm.get('surname')?.invalid && this.profileForm.get('surname')?.touched}">
            <div class="invalid-feedback">
                <small>You must provide a surname.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" formControlName="username" id="username" name="username"
                required [ngClass]="{'is-valid': this.profileForm.get('username')?.valid && this.profileForm.get('username')?.touched,'is-invalid':this.profileForm.get('username')?.invalid && this.profileForm.get('username')?.touched}">
            <div class="invalid-feedback">
                <small>You must provide a surname.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="telefono">Phone</label>
            <input type="tel" formControlName="phone" id="telefono" name="telefono"
                required [ngClass]="{'is-valid': this.profileForm.get('phone')?.valid && this.profileForm.get('phone')?.touched,'is-invalid':this.profileForm.get('phone')?.invalid && this.profileForm.get('phone')?.touched}">
            <div class="invalid-feedback">
                <small>You must provide a phone.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="fecha-nacimiento">Birthdate</label>
            <input type="date" formControlName="birthdate" id="fecha-nacimiento" name="fecha-nacimiento"
                required [ngClass]="{'is-valid': this.profileForm.get('birthdate')?.valid && this.profileForm.get('birthdate')?.touched,'is-invalid':this.profileForm.get('birthdate')?.invalid && this.profileForm.get('birthdate')?.touched}">

            <div class="invalid-feedback">
                <small>You must provide a birthdate.</small>
                <small *ngIf="profileForm.get('birthdate')?.hasError('startDateInPast')">The birthday cannot be earlier than today's date.</small>
                <small *ngIf="profileForm.get('birthdate')?.hasError('tooYoung')">  You must be at least 12 years old.</small>
            </div>
        </div>
        <div class="mb-3">
            <label for="dni">DNI</label>
            <input formControlName="dni" type="text" id="dni" name="dni"
                required [ngClass]="{'is-valid': this.profileForm.get('dni')?.valid && this.profileForm.get('dni')?.touched,'is-invalid':this.profileForm.get('dni')?.invalid && this.profileForm.get('dni')?.touched}">
            <div class="invalid-feedback">
                <small>You must provide a dni.</small>
            </div>
        </div>
        <button class="btn btn-secondary mt-4 mb-4 ml-4 mr-4"
            routerLink="/showprofile/{{currentMember?.userAccountId}}">Cancel edition</button>

        <button class="btn btn-primary mt-4 mb-4 ml-4 mr-4" (click)="guardarCambios()">Save
            changes</button>
    </form>
</div>